.row-fluid {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
}

hr.drop {
  height: 13px;
  background-image: url(../img/drop.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-width: 0;
  padding: 0;
  margin: 0;
}

#title {
  background-image: url(../img/title.jpg);
  color: white;
  background-color: #ccc; /* TODO replace with img */
  padding: 170px 20px 20px;
  height: 250px;
  display: table-cell;
  vertical-align: bottom;
}

#title h2 {
  font-size: 36px;
}

#title h3 {
  font-size: 24px;
}

#intro {
  padding: 12px 20px 10px;
  background-color: #222;
  color: white;
}

#intro p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  line-height: 28px;
}

#intro p em {
  color: #0cf;
  font-style: normal;
}

#description {
  padding: 10px 0 5px;
  background-color: #ddd;
}

#description p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  /*font-size: 18px;*/
  /*line-height: 24px;*/
  font-weight: 300;
}

#connections {
  padding-bottom: 10px;
}

#connections img.logo {
  float: right;
  margin-left: 10px;
}

/* vim: set ts=2 sw=2 et: */
